//elementry-Level: 10-math styles
    .math-body{

        background: #1c1a39;
        color: #fff;
        overflow-x: hidden !important;
        width: 100vw !important;
        height: 100vh !important;
    }

    .math-header{
        color: orange;
    }