body {
  background: #120d4f;
  color: #fff;
}

#todoList label {}

#todoList li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.completed {
  color: #6e6e6e;
  text-decoration: line-through;
}

.uncompleted label {
  color: #151515;

}

#todoList .btn {
  margin-left: 10px;
}